<nav class="container-fluid navbar navbar-default nav-header" style="margin-bottom: 0">
  <div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
    <div class=" media ">
      <div class="media-left ">
        <a>
      <img class="media-object " src="./../assets/inta_logo.jpg "  alt="... ">
    </a>
      </div>
      <div class="media-body" style="padding-left: 10px; padding-top:10px;">
        <h3 class="media-heading ">INTA Marcos Juárez</h3>
        <h4>Equipo de trabajo en producción porcina</h4>
      </div>
    </div>
  </div>
</nav>
