<div class="container-fluid">
  <div class="row" style="margin-top: 15px; margin-right: 25px">
    <button class="btn btn-danger pull-right" [routerLink]="['../..']"><i class="fa fa-times" aria-hidden="true"></i> Volver</button>
  </div>
  <section class="main row">
    <article class="container-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <strong>
        <h2>{{publicacion.titulo}}</h2>
      </strong>
      <p>
        {{publicacion.descripcion}}
      </p>
      <div class="container-fluid row">
        <br>
        <img [src]="publicacion.imagenPortada" alt="" class="img-responsive col-lg-6 col-lg-offset-3">
        <br>
      </div>
      <div class="container-fluid">
        <br>
        <div>
          <p [innerHTML]="publicacion.contenido" style=" word-wrap: break-word;">

          </p>
        </div>
      </div>
      <div class="container-fluid">
        <br>
        <p style="word-wrap: break-word;" *ngIf="publicacion.fuente">
          Fuente : {{ publicacion.fuente}}
        </p>
      </div>
    </article>
  </section>
</div>
